$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

// text
$palanquin: 'Palanquin', sans-serif;

// colors
$backgroundColor: #D8E3E9;
$white: #f2f2f2;
$teal: rgb(72, 148, 148);
